<header class="l-header">
  <ul class="top-menu disable-link-styles">
    <li class="logo-small-container">
      <a class="v-center-block-parent">
        <img class="v-center-block logo-small angular-university-logo"
             src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
             data-pin-nopin="true">

      </a>
    </li>
    <li>
      <a>Inputs</a>
    </li>
  </ul>

</header>

<body>
<div class="container">
  <h1>Font Awesome</h1>

<div class="form">

  <div class="form-row">
    <label>Normal Input:</label>
    <input class="normal-input" type="email" name="email" placeholder="E-mail">
  </div>

  <div class="form-row">
    <label>FA Input:</label>
   <au-fa-input icon="envelope"></au-fa-input>
  </div>

</div>







</div>

</body>

